<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sidebar Demo</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <!-- Sidebar view-->
  <aside class="sidebar">
    <h1>Home</h1>

    <nav class="nav">
     <button class="nav-btn" onclick="window.location.href='stars.html'">Stars</button>
      <button class="nav-btn">Missions</button>
      <button class="nav-btn">Rewards</button>
    </nav>
  </aside>

  <!-- Main columns -->
  <main class="main">
    <section class="list">
     
      <article class="card">
        <h3>Reward 1</h3>
        <p>Small perk</p>
        <button class="star-btn">20 ★ stars</button>
      </article>

    
      <article class="card">
        <h3>Reward 2</h3>
        <p>Small perk</p>
        <button class="star-btn">20 ★ stars</button>
      </article>

      <article class="card">
        <h3>Reward 3</h3>
        <p>Small perk</p>
        <button class="star-btn">20 ★ stars</button>
      </article>

      <article class="card">
        <h3>Reward 4</h3>
        <p>Small perk</p>
        <button class="star-btn">20 ★ stars</button>
      </article>

      <article class="card">
        <h3>Reward 5</h3>
        <p>Small perk</p>
        <button class="star-btn">20 ★ stars</button>
      </article>

      
      <article class="card">
        <h3>Reward 6</h3>
        <p>Small perk</p>
        <button class="star-btn">20 ★ stars</button>
      </article>
    </section>
  </main>
</body>
</html>